/*Alterações Léia*/

.modal-stretching-logo img {
  position: fixed;
  top: 20px;
  /* Ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  /* Adiciona uma pequena margem inferior */
}

.modal-image-stretching img {
  width: 350px;
  margin-top: 30px;
}

#stretchingText {
  font-family: poppins;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--bone);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 10px;
  display: inline-block;

}