.vermelho{ 
    background-color: #b81414;
}
 .branco{
    color: #e5d9c7;
    background-color: #e7a09f;
 }
 .roxo{
    color: 454372

 }

 #timer {
   font-size: 60px;
   margin-bottom: 20px; 
 }
 
 .cinza{
   color:  #CCCCCC;
} 

.grande{
   font-size: 60px;
}
   
.icone {
   margin-right: 20px;
}

.button-container {
    padding: 10px;
    border-radius: 5px;
    display: inline-block; 
    background: rgba(255, 255, 255, 0.2)
}
 body {
     font-family: Arial, sans-serif;
     text-align: center;
     margin-top: 50px;
     background-color: #B81616;
 }

button {
     padding: 10px 20px;
     font-size: 18px;
     cursor: pointer;
     background-color:#B81414;
     color: white;
     border: none;
     border-radius: 5px;
     margin: 10px;
 }

nav*{
   display: inline;
}




 
  
  