@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Prata&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*após usar https://coolors.co/  para gerar uma paleta de cores*/
:root {
  --blackJack: #101419;
  --bone: #ece3d5;
  --cornellRed: #851A1A;
  --delftBlue: #454372;
  --shamrockGreen: #25681D;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bone);

}

.doc-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: start;

  height: 100%;
  width: 100%;
  font-family: poppins;
  overflow: auto;
}

.about {
  width: 1000px;
  margin-bottom: 55px;
}

h1 {
  color: var(--cornellRed);
  margin-top: 55px;
  margin-bottom: 8px;
  font-size: 25px;
  font-family: prata;
}

span,
li {
  font-size: 17px;
  color: rgb(136, 121, 121);
}

li {
  margin-left: 20px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(171, 168, 168);

}

::-webkit-scrollbar-thumb {
  background: var(--cornellRed);
}